.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* height: 50px;
  width: 50px;  */
}
.App-logo1 {
  height: 50px;
  width: 50px; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  width: 190px;
  height: 510px;
  border-right: solid 1px grey;
  /* margin-right: -10px; */
  
}
#navbar{
  border-bottom: solid 1px grey;
}
#databox{
  border: solid 1px grey;
  width: 1060px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #DEDEDE;
  /* display: flex;
  justify-content: space-between; */
}
#databox div{
  /* padding-left: 10px; */
  padding-right: 10px;
  border-right: solid 1px grey;
}
.intensitybox{
  height: 157px;
  border: solid 1px grey;
  width: 250px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #DEDEDE;
}
.notch{
  height: 3px;
  width: 240px;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
}
.graph{
  border: solid 1px grey;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px #DEDEDE;
}
.butn{
  background-color: #a16efd;
  margin-bottom: 20px;
  height: 40px;
  padding-top: 5px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 3px 3px 3px 3px #DEDEDE;
}
.pagin{
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px grey;
  padding: 5px;
}
#featureBox{
  margin-top: 20px;
  border: solid 1px grey;
  border-radius:10px;
  padding:10px;
  margin-left: auto;
  display: flex;
}